args:
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname

resources:
  requests:
    cpu: 50m
    memory: 60Mi
  limits:
    cpu: 150m
    memory: 200Mi

metricsServer:
  enabled: true
