apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "producer.fullname" . }}
  labels:
    app: producer
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
        - name: producer
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.containerPort }}

          env:
            - name: KAFKA_BROKERS
              value: "kafka.kafka.svc.cluster.local:9092"
          # readinessProbe:
          #   httpGet:
          #     path: {{ .Values.readinessProbe.path }}
          #     port: {{ .Values.readinessProbe.port }}
          #   initialDelaySeconds: 5
          #   periodSeconds: 10
          # livenessProbe:
          #   httpGet:
          #     path: {{ .Values.livenessProbe.path }}
          #     port: {{ .Values.livenessProbe.port }}
          #   initialDelaySeconds: 30
          #   periodSeconds: 20
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
